.fonts {
    font-family: 'Montserrat', sans-serif;
    font-family: 'Ubuntu', sans-serif;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Title Section */
#title {
    background-color: #ff4c68;
    /* background-color: grey; */
    color: white;
}

.container-fluid {
    padding: 3% 15% 50px;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5em;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
}

.nav-link{
    font-size: 1.2rem;
}

/* Row */
.row{
    margin:0;
}
.col-lg-6 {
    padding: 0;
}

h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
}

.iphone-mockup {
    transform: rotate(30deg);
    width:60%;
}

/* Features */
#features{
    text-align: center;
}

#features .col-lg-4{
    padding:5%;
}

#features .container-fluid{
    padding:50px 15%;
}

#features i{
    color: #ef8172;
    padding-bottom: 25px;
}

#features i:hover{
    color: #ff4c68;
}

#features h3{
    font-weight: bold;
    font-size: 1.5rem;
}

#features p{
    color: #8f8f8f;
}

/* Testimonials Section */

#testimonials{
    padding: 50px 15% 10px;
    text-align: center;
    background-color: #ef8172;
    color: white;
}

#testimonials h2{
    font-weight: bold;
    font-size: 5vh;
    line-height: 1.5;
}

#testimonials img{
    border-radius: 50%;
    min-width: 75px;
    width:10%; 
    margin: 20px 20px 20px 0;
}

#testimonials .carousel-inner{
    padding:0;
}

.carousel-control{
    border:none;
    background-color: rgba(0,0,0,0);
    margin:-12.5vw;
}

hr{
    border-style:dotted none;
    border-width:5px;
    width:50%;
    min-width:200px;
    margin: 25px auto;
}

/* Press */
#press{
    padding: 0 0 25px;
    text-align: center;
    background-color: #ef8172;
}

#press img{
    width: 200px;
    margin: 25px 25px;
}

/* Pricing */
#pricing{
    /* background-color: grey; */
    padding: 50px 15% 50px;
}

#pricing .row{
    line-height: 1.5;
}

#pricing .col{
    padding:3% 2%;
}

#pricing .card-header{
    background-color: #ff4c68;
}

#pricing h2, h3{
    font-weight: bold;   
    font-size: 5vh;
    line-height: 1.5;
}

#pricing h3{
    color:white;
    font-size: 3vh;
    margin:0;
}

#pricing .btn:hover{
    border:1px #ff4c68 solid;

    background-color: #ff4c68;
}